<footer class="footer"  id="footer"> 
    <div class="footer__getup">
      <a href="#hero"><img src="./assets/images/ico-arrow.svg"></a>
    </div>
    
    <nav class="footer__nav">
      <ul class="footer__menu">
        <li><a class="footer__menu--item" href="https://www.adalab.es/">zapatillas</a></li>
        <li><a class="footer__menu--item" href="https://www.adalab.es/">ropa</a></li>
        <li><a class="footer__menu--item" href="https://www.adalab.es/">niño/a</a></li>
        <li><a class="footer__menu--item" href="https://www.adalab.es/">destacados</a></li>
        <li><a class="footer__menu--item" href="https://www.adalab.es/">tips</a></li>
      </ul>
      <ul class="footer__menu">
        <li><a class="footer__menu--item" href="https://www.adalab.es/">twitter</a></li>
        <li><a class="footer__menu--item" href="https://www.adalab.es/">instagram</a></li>
        <li><a class="footer__menu--item" href="https://www.adalab.es/">youtube</a></li>
      </ul>
    </nav>
    <div class="footer__copy">
      <p class="copy">&copy; 2023</p>
      <p>we ❤︎ run</p>
    </div>
  </footer>
