<footer class="footer"  id="footer"> 
    <div class="footer_up">
      <a href="#hero"><img src="./assets/images/ico-arrow.svg"></a>
    </div>
    
    <nav class="footer_links">
      <ul class="footer_links1">
        <li><a href="https://www.adalab.es">ZAPATILLAS</a></li>
        <li><a href="https://www.adalab.es">ROPA</a></li>
        <li><a href="https://www.adalab.es">NIÑO/A</a></li>
        <li><a href="https://www.adalab.es">DESTACADOS</a></li>
        <li><a href="https://www.adalab.es">TIPS</a></li>
      </ul>
    </nav>
    <nav class="footer_links">
      <ul class="footer_links2">
        <li><a class="list" href="https://www.adalab.es">TWITTER</a></li>
        <li><a class="list" href="https://www.adalab.es">INSTAGRAM</a></li>
        <li><a class="list" href="https://www.adalab.es">YOUTUBE</a></li>
      </ul>
    </nav>
      <p class="copy">&copy; 2023</p>
      <p>we ❤︎ run</p>
  </footer>
