<footer class="footer">
    <nav class="footer-nav">
      <ul>
        <li><a class="list" href="#">ZAPATILLAS</a></li>
        <li><a class="list" href="#">ROPA</a></li>
        <li><a class="list" href="#">NIÑO/A</a></li>
        <li><a class="list" href="#">DESTACADOS</a></li>
        <li><a class="list" href="#">TIPS</a></li>
      </ul>
      <ul>
        <li><a class="list" href="#">TWITTER</a></li>
        <li><a class="list" href="#">INSTAGRAM</a></li>
        <li><a class="list" href="#">YOUTUBE</a></li>
      </ul>
      <p class="copy">&copy; 2023 we (L) run</p>
    </nav>
  </footer>
