<section class="section2">
    <p class="title4">¡Prepáralos con tus masrcas favoritas!</p>
    <h2 class="title5">VUELTA AL COLE</h2>
    <div class="grid-container">
        
        <div class="item">
            <img src="./assets/images/lpbts-mod05-img01-desk.png" alt="" class="ball-image">
            <p class="item_text">Mochilas escolares</p>
        </div>
        <div class="item">  
            <img src="./assets/images/lpbts-mod05-img04-mob.png" alt="" class="ball-image">
            <p class="item_text">Estuches</p>
        </div>
        <div class="item">
            <img  src="./assets/images/lpbts-mod05-img03-mob.png" alt="" class="ball-image">
            <p class="item_text">Bolsa de deporte</p>
        </div> 
    </div>
    
    <a href="#" class="link2">Empezar ahora</a>

    </div>
</section>
</main>