<section class="section2">
    <p class="title4">¡Prepáralos con tus masrcas favoritas!</p>
    <h2 class="title5">VUELTA AL COLE</h2>
</section>
<div class="Images">
  
      <img class="img1"src="./assets/images/lpbts-mod05-img01-desk.png">
      <p>Mochilas escolares</p>
      <img class="img" src="./assets/images/lpbts-mod05-img04-mob.png">
      <p>Estuches</p>
      <img class="img" src="./assets/images/lpbts-mod05-img03-mob.png">
      <p>Bolsa de deporte</p>
    
    <a href="#" class="compra2">Empezar ahora</a>

</div>
</main>