// fonts
$font-text:'Roboto', sans-serif;
$font-title:'Roboto Slab', serif;
// colors
$colorgreen: #6c933e;
$colorgrey: #d9e4cc;
$colorgreylight: #626262;
$colorbrown:#4a4a4a;
$colorwhite: #ffffff;
$colorblack: #000000;

