.footer{
    width: 100vw;
    height: 43.3rem;
    /*margin: 67.2rem 0 0;
    padding: 6.05rem 0.84rem 3.35rem 1.34rem;*/
    background-color: #4a4a4a;

    &-nav{
    width: 10.38rem;
    height: 13.97rem;
    flex-grow: 0;
    margin: 0 9.66rem 2.79rem 9.77rem;
    font-size: 1.6rem;
    text-decoration-line: none;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: center;
    justify-content: space-around;
    .list1{
        margin-bottom: 30px;
        text-decoration-line: none;
    }
    }
}
   

