.footer{
    font-size:1.6rem;
    color: $colorwhite;
    background-color: $colorbrown;
    padding: 0 1.5rem 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    align-content: center;
    gap: 2rem;

    @media all and(min-width:768px){
        flex-direction: row;
        align-items: baseline;
        text-align: left;
        justify-content: space-evenly;
    }
    &__getup{
        background-color: $colorwhite;
        display: inline-block;
        border-radius: 50%;
        padding: 1.1rem 1.3rem;
        transform: translateY(-50%);
        @media (min-width:768px){
            display: inline-block;
            transform: translateX(675%) translateY(-50%);
        }
         }
 
.menu{
    text-decoration: none;
    list-style-type: none;
    color: $colorwhite;
    font-family: $font-text;
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    list-style-type: none;
    }   
   &__clothes{
        line-height: 3rem;
        color: $colorwhite;
        padding-top: 3rem;
        text-decoration: none;
        list-style-type: none;
        gap: 2rem;
        }
        &__redes{
            font-weight: 100;
            padding-top: 3rem;
            color: $colorwhite;
            text-decoration: none;
            list-style-type: none;
        }
        .item{
        color: $colorwhite;
        text-transform: uppercase;
        text-decoration: none;
        list-style-type: none;
        }
    }
.p{
    padding: 0.5rem;
    @media (min-width:768px){
                        flex-direction: row-reverse;
                        align-items: baseline;
                        justify-content: center;
                }
            }
        

    
