.footer{
    width: 100vw;
    height: 43.3rem;
    color: $colorwhite;
    background-color: $colorbrown;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_up{
        background-color: $colorwhite;
        border-radius: 50%;
        padding: 1.1rem 1.3rem;
        transform: translateY(-50%);
    }

    &_links{
        width: 100vw;
        font-size: 1.6rem;
        font-family: roboto;
        color: $colorwhite;  
        text-align: center;
        text-transform: uppercase;
        list-style: none;
        text-decoration: none;
        &_links1{
            width: 10.38rem;
            height: 13.97rem;
            color: $colorwhite;
            text-align: center;
            text-decoration: none;
            &_links2{
                width: 9.25rem;
                height: 8.38rem;
                color: $colorwhite;
                margin: 2.79rem 10.28rem 2.98rem 10.28rem;
                line-height: 1.88;
                text-decoration: none;
            }
        }
    }
}
