.hero {
    background-image: url("../images/cover.jpeg");
    background-position: right;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    text-align: center;
    gap: 7rem;
    flex-direction: column;
    align-items: center;
    color: $colorwhite;
    &_title{
        width: 31.55rem;
        height: 5.72rem;
        display: flex;
        padding-top: 25rem;
        font-size: 3rem;
        }
        &_title1{
            width: 24.33rem;
            height: 1.6rem;
            padding-left: 3.4rem;
            padding-right: 3.8rem;
            font-size: 2rem;
            color: $colorwhite;
            line-height: 1.19;
            }
            .down{
                width: 3.82rem;
                height: 3.82rem;
                display: flex;
                padding: 1.1rem;
                margin-bottom: 5.8rem;
                background-color: $colorwhite;
                border-radius: 50%;
                justify-content: center;
                align-items: center;
                line-height: 50px;
                transform: translateY(80%) translateX(-50%);
                
            }

        }
    
