.hero {
    background-image: url("../images/cover.jpeg");
    background-position: right;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $colorwhite;
    .hero_title{
        width: 31.55rem;
        height: 5.72rem;
        display: flex;
        font-weight: bold;
        padding-top: 38rem;
        font-size: 3rem;
        text-transform: uppercase;
        justify-content: center;
        }
        .title-1 {
            width: 24.33rem;
            height: 1.6rem;
            padding-left: 3.4rem;
            padding-right: 3.8rem;
            font-size: 3rem;
            color: $colorwhite;
            line-height: 1.19;
            text-align: center;
        }
            .down{
                width: 3.82rem;
                height: 3.82rem;
                padding: 1.1rem;
                background-color: $colorwhite;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                line-height: 50px;
                transform: translateY() translateX();
                
            }

        }
    
