.section2 {
    width: 100vw;
    text-align: center;
    padding: 1.5rem;
    background-color: $colorgrey;
    padding-bottom: 3rem;
    .title4 {
        color: $colorgreylight;
        font-family: $font-title;
        line-height: 3rem;
        font-size: 1.2rem;
        text-align: center;
        .title5{
            font-size: 4rem;
            line-height: 1.61;
            font-weight: bold;
            font-family: $font-title;
            padding-bottom: 1.4rem;
            color: $colorblack;
            text-align: center;
            .p {
                font-size: 1.4rem;
            }
        }
    }

}
.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    @media all and (min-width:768px){
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-content: space-evenly;
    
}
.item{
    text-align: center;
    padding-top: 2rem;
    font-family: $font-title;
    font-size: 1.5rem;
    line-height: 1rem;
    font-weight: bold;
    line-height: 3rem;

    }
    &_text{
        font-family: $font-title;
        padding-bottom: 4rem;
    }
   
}
.ball-image{
    border-radius: 50%;
    width: 11.4rem;
    height: 12.4rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    
}

.link2{
        color: $colorwhite;
        background-color: $colorgreen;
        display: inline-block;
        border-radius: 3rem;
        padding: 0.5rem;
        text-align: center;
        text-decoration: none;
        font-size: 2rem;
    
       
        
}