.section2 {
    width: 100vw;
    text-align: center;
    padding: 1.5rem;
    background-color: #d9e4cc;
    .title4 {
        color: #626262;
        line-height: 3rem;
        font-size: 1.2rem;
        text-align: center;
        .title5{
            width: 3.20rem;
            height: 6.56rem;
            font-size: 2rem;
            margin: 1.6rem 0 0;
            padding-bottom: 1.4rem;
            color: black;
            text-align: center;
            .p {
                font-size: 1.4rem;
            }
        }
    }

}
.grid-container{
    display: grid;
    grid-template-columns: 15rem;
    grid-template-rows: 15rem 15rem 15rem;
    justify-content: center;
    text-align: center;
    gap: 1,5rem;

    @media all and (min-width:768px){
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-content: space-evenly;
    
}
.item{
    text-align: center;
    padding-top: 1rem;
    
    }
    &_text{
        font-size: 1.4rem;
        line-height: 3rem;
        font-weight: bold;
    }
   
}
.ball-image{
    border-radius: 50%;
    width: 11.4rem;
    height: 12.4rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
};

.link2{
        color: $colorwhite;
        background-color: $colorgreen;
        display: inline-block;
        border-radius: 50%;
        
        padding: 0.5rem;
        text-align: center;
        text-decoration: none;
        font-size: 2rem;
       
        
}