.section1{
    width: 100vw;
    flex-grow: 0;
    margin-left:  0 1rem;
    padding: 3.4rem 1.7rem 0.2rem 1.3rem;
    background-color: #ffffff;
    .title2{
        color:#6c933e;
        width: 24.4rem;
        height: 3rem;
        font-size: 1.2rem;
        text-align: left;
        line-height: 2.14;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.14;
        letter-spacing: normal;
        &--3{
            color: $colorblack;
            width: 29rem;
            height: 3rem;
            margin: 2.2rem 0 1rem;
            font-size: 2.2rem;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.36;
            letter-spacing: normal;
            text-align: left;
           
            }
        }
    }
.text2{
    width: 100vw;
    height: 18.1rem;
    color: #4a4a4a;
    font-size: 1.8rem;
    line-height: 1.67;
    text-align:left;
    padding-right: 2rem;
    justify-content: center;
    align-items: center;
}
.link{
    color: #6c933e;
    background-color: #ffffff;
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 3rem;
    border: solid 1px $colorgreen;
    text-decoration: none;
    font-size: 2rem;
}